body{
background-color: beige;
font-family:  bai jumjuree;
}

footer{
    background-color: black;
    color: rgb(247, 249, 252);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}